<div class="info-wrapper">
    <div class="image-container">
        <img [src]=imageLink [alt]="weatherData?.current_observation?.condition?.text"
            [title]="weatherData?.current_observation?.condition?.text">
    </div>
    <div class="information-wrapper">
        <div class="info-name">
            {{weatherData?.current_observation?.condition?.text}}
        </div>
        <div class="city-name">
            {{weatherData?.location?.city}}
        </div>
        <div class="temp">
            {{weatherData?.current_observation?.condition?.temperature}}&#176; C
        </div>
    </div>
</div>