<form id="locationInput">
    <input type="text" name="" id="" class="search" placeholder="search location">
</form>
<ul class="cities">
    <li class="city">New York</li>
    <li class="city">California</li>
    <li class="city">Paris</li>
    <li class="city">Tokyo</li>
</ul>
<ul class="details">
    <li>
        <span>Cloudy</span>
        <span class="cloud">89%</span>
    </li>
    <li>
        <span>Humidity</span>
        <span class="humidity">64%</span>
    </li>
    <li>
        <span>Wind</span>
        <span class="wind">8 km/h</span>
    </li>
</ul>