// font colors
$font-color-white: #fff;
$font-color-placeholder: #ccc;
$font-color-black: #000;

// background colors
$background-color-black: rgba(0, 0, 0, 0.2);
$panel-background: rgba(110, 110, 110, 0.25);
$background-white : #fff;
$background-gray : #3c3c44;

// border colors
$border-bottom-ccc: #ccc solid;
$border-gray-transparent: rgba(255, 255, 255, 0.18);
$border-list-item-active : rgba(0, 0, 0, 0.05);
$border-light: #eee;

//list items colors
$active-primary : #ffffff2b;

//scroll bar colors
$scrollbar-color-one : #696969;
$scrollbar-color-two : #ffffff;
