@import "./fonts";
@import "./typography";
@import "./colors";

/* ===== Scrollbar SCSS ===== */
/* Firefox */
* {
    scrollbar-width: auto;
    scrollbar-color: $scrollbar-color-one $scrollbar-color-two;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

*::-webkit-scrollbar-track {
    background: $scrollbar-color-two;
}

*::-webkit-scrollbar-thumb {
    background-color: $scrollbar-color-one;
    border-radius: 10px;
    border: 3px solid $scrollbar-color-two;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
