.weather-info-container-left-panel {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding: 2em 2em 3em 2em;
    .current-weather-forcast {
        width: 100%;
    }

    .future-weather-forcast {
        width: 100%;
    }
}

@media screen and (max-width: 800px) {
    .weather-info-container-left-panel {
        position: relative;
        width: 100%;
        top: initial;
        padding: 2em 2em 1em 2em;
    }
}

@media screen and (max-width: 500px) {
    .weather-info-container-left-panel {
        position: relative;
        width: 100%;
        top: initial;
        padding: 0 0 2em 0;
    }
}
